Explanation: Pin added by Ansible role "{{ role_name }}"
Package: docker-ce
Pin: version {{ docker_version }}*
Pin-Priority: 1000

Package: docker-ce-cli
Pin: version {{ docker_version }}*
Pin-Priority: 1000
